.gdg-button {
  padding: 0;
  margin: 0;
  box-shadow: none;
  border: none;
  border-radius: 0.5rem;
}

.gdg-button:hover {
  cursor: pointer;
  pointer-events: auto;
}

.gdg-button--md {
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.gdg-button--lg {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}

.gdg-button--primary {
  background-color: #007bff;
  color: white;
}

.gdg-button--primary:hover {
  background-color: #0069d9;
  color: white;
}
